CodeDB/
.vs/
TLS3001_pigpio/Debug/
TLS3001_pigpio/VisualGDBCache/TLS3001_pigpio-Debug/SourceCache.dat
TLS3001_pigpio/VisualGDBCache/TLS3001_pigpio-Debug/SysprogsSyncCache/00.dat
TLS3001_pigpio/VisualGDBCache/TLS3001_pigpio-Debug/SysprogsSyncCache/00.id
